<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/library.css">
</head>
<body>


    <header>
        <input type="checkbox" name="name" id="toggler" >
        <label for="toggler" class="fas fa-bars"></label> 

        <a href="#" class="logo">Cut2Fit<span>.</span></a>
    
        <nav class="navbar">
            <a onclick="window.location.href='/home'">home</a>
            <a href="#about">About</a>
            <a href="#library">Library</a>
            <a href="#blogs">blogs</a>
            <a href="#review">review</a>
            <a href="#contact">contact</a>
        </nav>
        <div class="search">
            <form>
                <input type="text" placeholder="Search...">
                <button type="submit" class="fas fa-search"></button>
            </form>
        </div>
        <div class="icons">
  
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-user" onclick="window.location.href='/profile'"></a>
        </div>
    </header>

    <br>
    <br>
    <br>
    <br>
    <br>
  
   







    


   






    <!-- products section starts  -->
    <section class="products" id="products">
        <h1 class="heading">latest <span>products</span></h1>
        <div class="box-container">
            <div class="box">
                <!-- <span class="discount">-10%</span> -->
                <div class="image">
                    <img src="ts1.jpg" alt="something">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>

                <div class="content">
                    <h3>flower pot</h3>
                    <div class="price">$12.99 <span> $15.99</span></div>
                </div>
            </div>
            <div class="box">
                <!-- <span class="discount">-10%</span> -->
                <div class="image">
                    <img src="ts1.jpg" alt="something">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>

                <div class="content">
                    <h3>flower pot</h3>
                    <div class="price">$12.99 <span> $15.99</span></div>
                </div>
            </div>
            <div class="box">
                <!-- <span class="discount">-10%</span> -->
                <div class="image">
                    <img src="ts1.jpg" alt="something">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>

                <div class="content">
                    <h3>flower pot</h3>
                    <div class="price">$12.99 <span> $15.99</span></div>
                </div>
            </div>
            <div class="box">
                <!-- <span class="discount">-10%</span> -->
                <div class="image">
                    <img src="ts1.jpg" alt="something">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>

                <div class="content">
                    <h3>flower pot</h3>
                    <div class="price">$12.99 <span> $15.99</span></div>
                </div>
            </div>
            <div class="box">
                <!-- <span class="discount">-10%</span> -->
                <div class="image">
                    <img src="ts1.jpg" alt="something">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>

                <div class="content">
                    <h3>flower pot</h3>
                    <div class="price">$12.99 <span> $15.99</span></div>
                </div>
            </div>
            <div class="box">
                <!-- <span class="discount">-10%</span> -->
                <div class="image">
                    <img src="ts1.jpg" alt="something">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>

                <div class="content">
                    <h3>flower pot</h3>
                    <div class="price">$12.99 <span> $15.99</span></div>
                </div>
            </div>
            <div class="box">
                <!-- <span class="discount">-10%</span> -->
                <div class="image">
                    <img src="ts1.jpg" alt="something">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>

                <div class="content">
                    <h3>flower pot</h3>
                    <div class="price">$12.99 <span> $15.99</span></div>
                </div>
            </div>
            <div class="box">
                <!-- <span class="discount">-10%</span> -->
                <div class="image">
                    <img src="ts1.jpg" alt="something">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>

                <div class="content">
                    <h3>flower pot</h3>
                    <div class="price">$12.99 <span> $15.99</span></div>
                </div>
            </div>
           
        </div>
    </section>
    <!-- products section ends  -->


    <!-- footer section starts  -->

<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>quick links</h3>
            <a onclick="window.location.href='/home/#home'">home</a>
            <a onclick="window.location.href='/home/#about'">about</a>
            <a onclick="window.location.href='/home/#library'">library</a>
            <a onclick="window.location.href='/home/#contact'">contact</a>
            <a onclick="window.location.href='/home/#blogs'">blogs</a>
        </div>  
        <div class="box">
            <h3>extra links</h3>
            <a href="#"onclick="window.location.href='/profile'">my account</a>
            <a href="#" onclick="window.location.href='/library'">my library</a>
            <a href="#">terms of use</a>
            <a href="#">privacy policy</a>
        </div>
        <div class="box">
            <h3>contact info</h3>
            <p> <i class="fas fa-phone"></i> +123-456-7890 </p>
            <p> <i class="fas fa-envelope"></i> support@cut2fit.com </p>
            <p> <i class="fas fa-map-marker-alt"></i> 123 Fashion Street, New York, NY </p>
        </div>
        <div class="box">
            <h3>follow us</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
        </div>
    </div>
    <div class="credit"> &copy; 2024 <span>Cut2Fit</span>. All rights reserved. </div>
</section>

<!-- footer section ends -->








</body>
</html>