 :root {
    --pink: #e84396;
}

html{
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('/mediafile/bg.jpg');
    background-size: contain; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height:80%;
    min-height: 30%; /* Adjusted to avoid cutting the content */
    background-color: #ffffff;
    box-shadow: 0px 0px  10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    overflow: hidden;
    padding: 30px;
}

.signup-section {
    text-align: center;
    padding: 20px;
    /* background-color: #f9f9f9; */
    width: 100%;
}

.signup-section h3 {
    font-size: 24px;
    color: #333333;
    margin-top: 20px;
}

.signup-section h3 span {
    font-size: 14px;
    color: #999999;
}

.signup-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup-section label {
    margin-top: 10px;
    color: #666666;
    text-align: left;
    width: 90%;
    font-size: 14px;
}

.signup-section input {
    padding: 12px;
    margin-top: 10px;
    border: 2px solid var(--pink);
    border-radius: 20px;
    width: 90%;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
}

.signup-section input:focus {
    outline: none;
    border-color: #6e3764;
}

button {
    background-color: var(--pink);
    color: white;
    border: none;
    padding: 12px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 35%;
    font-size: 16px;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 50px;
    display: inline-block;
}

button:hover {
    background-color: #6e3764;
    transform: scale(1.05);
    border-radius: 50px;
}

.signup-section p {
    text-align: center;
    color: #666666;
    margin-top: 20px;
    font-size: 14px;
}

.sign-up {
    color: var(--pink);
    text-decoration: none;
}

.forgot-pw {
    color: var(--pink);
    text-decoration: none;
}

.forgot-pw:hover {
    text-decoration: underline;
}

.sign-up:hover {
    text-decoration: underline;
}

.cutting-effect::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--pink);
    top: 50%;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.cutting-effect:hover::before {
    transform: scaleX(1);
}

@media (max-width: 600px) {
    .main-container {
        width: 90%;
        height: auto;
    }

    .signup-section {
        padding-top: 30px;
        width: 90%;
    }
}